<ngb-carousel class="carousel-position">
    <ng-template ngbSlide>
        <img alt="" class="img-responsive"><i class="fas fa-bell"></i>
    </ng-template>
    <ng-template ngbSlide>
        <img alt="" class="img-responsive"><i class="fas fa-bell"></i>
    </ng-template>
    <ng-template ngbSlide>
        <img alt="" class="img-responsive"><i class="fas fa-bell"></i>
    </ng-template>
</ngb-carousel>

<a class="card">
    <div class="card-body">
        <h5 class="card-title">{{ article?.articleTitle }}</h5>
        <p class="card-text">{{ article?.articleContent }}</p>
        <div class="card-footer-custom">
            <div class="item">
                <i class="fas fa-heart"></i> {{ article?.niceCount }}
            </div>
            <div class="item">
                <img src="{{ article?.pictureUrl }}" class="rounded-circle thimbnail-xsmall" ngbTooltip="{{ article?.createdBy }}" placement="bottom"/>
                {{ article?.createdAt }}
            </div>
        </div>
    </div>
</a>