<div class="container">
    <h2>記事を投稿する</h2><br>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <!-- input title -->
        <div class="form-group row">
            <label class="col-12 col-md-1 control-label">題名</label>
            <div   class="col-12 col-md-11">
                <input
                class="form-control"
                type="text"
                name="articleTitle"
                ngModel
                required
                #articleTitle="ngModel" />
                <!-- validation -->
                <div *ngIf="articleTitle.invalid && articleTitle.touched" class="alert alert-danger">
                    題名は必須です
                </div>
            </div>
        </div>
        <!-- input coments -->
        <div class="form-group row">
            <textarea
                col-12
                name="articleContent"
                rows="6"
                class="form-control"
                type="text"
                placeholder="ここに記事の内容を入力してください"
                ngModel
                required
                minlength="5"
                #articleContent="ngModel"></textarea>
            <!-- validation -->
            <div *ngIf="articleContent.invalid && articleContent.touched" class="alert alert-danger">
                <div *ngIf="articleContent.errors.required">
                    本文は必須です
                </div>
                <div *ngIf="articleContent.errors.minlength">
                    本文は５文字以上必要です
                </div>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <button
                type="submit"
                class="offset-10 col-2 btn btn-outline-primary"
                [disabled]="form.invalid">
                投稿
            </button>
        </div>
    </form>
</div>
