<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-xs-12 order-md-1 order-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 col-xs-12 order-md-2 order-1">
            <!-- <app-article-list></app-article-list> -->
            <!-- <app-article-create-template></app-article-create-template> -->
            <!-- <app-article-create-reactive></app-article-create-reactive> -->
            <app-article-detail></app-article-detail>
        </div>
    </div>
</div>

<app-footer></app-footer>