<div class="bg-light">
    <nav class="navbar navbar-light sidebar">
        <ul class="navbar-nav">
            <li class="nav-item"><i class="fas fa-bell"></i> 新着記事</li>
            <li class="nav-item"><i class="fas fa-pen"></i> 記事の投稿</li>
            <li class="nav-item">
                <img src="/assets/images/beginner.png" class="banner">
                <p class="banner-text">
                    2021年6月1日から開催<br/>
                    只今、オンライン受講受付中！
                </p>
                <!-- <div>
                    <img class="graph" src="/assets/images/morning.png">
                    <img class="graph" src="/assets/images/afternoon.png"><br/>
                    <img class="graph" src="/assets/images/afternoon2.png">
                    <img class="graph" src="/assets/images/evening.png">
                </div> -->
            </li>
            <li class="nav-item">
                <img src="/assets/images/present.png" class="banner">
                <p class="banner-text">毎週100名様に50ポイント進呈</p>
            </li>
            <li class="nav-item">
                <img src="/assets/images/mokumoku.png" class="banner">
            </li>
        </ul>
    </nav>
</div>