<div class="bg-light">
    <nav class="navbar navbar-light sidebar">
        <ul class="navbar-nav">
            <li class="nav-item">新着記事</li>
            <li class="nav-item">記事の投稿</li>
            <li class="nav-item">
                <img src="/assets/images/beginner.png" class="banner">
                <p class="banner-text">
                    2021年6月1日から開催<br/>
                    只今、オンライン受講受付中！
                </p>
                <div>
                    <img class="graph" src="/assets/images/morning.gif">
                    <img class="graph" src="/assets/images/afternoon.gif"><br/>
                    <img class="graph" src="/assets/images/sfternoon2.gif">
                    <img class="graph" src="/assets/images/evening.gif">
                </div>
            </li>
            <li class="nav-item">
                <img src="/assets/images/present.gif" class="banner">
                <p class="banner-text">毎週100名様に50ポイント進呈</p>
            </li>
            <li class="nav-item">
                <img src="/assets/images/mokumoku.jpg" class="banner">
            </li>
        </ul>
    </nav>
</div>