div {
    height: 100%;
    width: 210px;
}

.sidebar {
    padding: 5%;
    position: sticky;
    top: 0;
}

.banner {
    width: 180px;
    margin-top: 10%;
}

.banner-text {
    font-size: small;
}

.graph {
    padding: 5px;
}